
.outer-register {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inner-register {
  width: 500px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 30px 55px 15px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}


Button.btn-register {
  background-color: #292961;
  color: #fff;
  border-radius: 10px;
  margin-left: 190px;
}


